body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: aliceblue;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}


.highlight {
  background-color: #ffff00; /* 黄色背景，与原始一致 */
  color: #000000; /* 黑色文字，与原始一致 */
}

.dark-mode .highlight {
  background-color: #ffeb3b; /* 深色模式下的高亮 */
  color: #000000;
}

div .cm-searchMatch span {
    background-color: yellow;
  color: black;
}

div .ͼ13 {
    color: #b1f6ac;
}


div div .cm-activeLine.cm-line {
  /* background: #010f30; */
}
div div .ͼp .cm-activeLine.cm-line{
  background-color: #3561b88f;
}

.cm-scroller {
  background: black;
}

/* 滚动条整体样式 */
.cm-scroller::-webkit-scrollbar {
  width: 15px;
}

/* 滚动条轨道 */
.cm-scroller::-webkit-scrollbar-track {
  background-color: #282c34;
  border-radius: 0px;
}

/* 滚动条滑块 */
.cm-scroller::-webkit-scrollbar-thumb {
  background-color: #44548a;
  border-radius: 0;
}

/* 滚动条角落 */
.cm-scroller::-webkit-scrollbar-corner {
  background-color: #282c34;
}
.ͼ1 .cm-vim-panel input {
    border: none;
    outline: none;
    background-color: inherit;
    color: #f5eeb3;
}
